
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

          .logo {
            float: left;
          }
          /* ~~ Top Navigation Bar ~~ */

          

          #navigation-container {
            width: 100%;
            margin: 0 auto;
            height: 90px;
          }

          /*Nav baren er det eneste som ikke har dynamisk størrelse*/
          .navigation-bar {
            background-color: #1e1e1e;
            height: 90px;
            width: 100%;
            text-align:left;
          }
          .navigation-bar img{
          float:left;
          max-width: 200px;
          margin: 15px;
          margin-left: 25%;
          }

          /*Satt position til absolute så den ikke flytter seg ut av linje*/
          .navigation-bar ul {
            position: absolute;
            padding: 0;
            margin: 10;
            text-align: left;
            font-size: x-large;
            margin-left: 5%;
            display:inline-block;
            vertical-align:top;
          }

          .navigation-bar li {
            list-style-type: none;
            padding: 0px;
            height: 24px;
            margin-top: 4px;
            margin-bottom: 4px;
            display: inline;
          }

          .navigation-bar li a {
            color: white;
            font-size: 16px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            text-decoration: none;
            line-height: 70px;
            padding: 5px 15px;
            opacity: 0.95;
          }

          #menu {
            float: right;
          }

    * {
      box-sizing: border-box;
    }
    
    /* Create three unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
      height: auto; /* Should be removed. Only for demonstration */
    }
    
    /*Makes a sub division for the left side*/
    .container {
      float: left;
      width: 50%;
    }

    .left {
      width: 30%;
    }
    
    .middle {
      width: 70%;
      border-left:1px solid #1e1e1e;
      padding-left: 20;
      padding-right: 5;
    }
    
    .right {
      width: 50%;
      background-color:rgb(250, 250, 241);
    }


    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .row {
      margin: 20;
      border-style: solid;
      border-width: 1px;
      border-color: #1e1e1e;
      padding: 5;
    
    }

    .grafikk {
      height: auto;
      width: 100%;
      max-width: 100%;
      object-fit: contain;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }

    /* Font settings */
    .header {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 1.5vw;
      margin-bottom: 2%;
      margin-top: 1%;
    }

    .under-header {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.7vw;
    }

    .paragraf {
      font-size: 1vw;
      font-family:'Times New Roman', Times, serif;
    }

    /*Makes circles with white text*/
    .circle {
      width: 40px;
      height: 40px;
      line-height: auto;
      border-radius: 50%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 35;
      color: #fff;
      text-align: center;
      background: #000;
      margin:auto;
      margin-top: 10;
      margin-bottom: 10;
    }

    /*Image size and positioning, makes the image centered in the div, without overflowing to the right*/
    .portrett {
      margin-left: 50%;
      transform: translateX(-50%);
      height: auto;
      width: 110%;
      border-radius: 50%;
    }

    /*Styling and positionning*/
    .faktaboks {
      border-top: 2px solid #000;
      border-bottom: 1px solid #000;
      margin: auto;
      margin-top: 20px;
      width: 90%;
    }

    /*List styling and removes overflow going out of the box*/
    .list {
      overflow-y: hidden;
      padding-left: 10%;
      font-size: 1vw;
      font-family: 'Times New Roman', Times, serif;
    }
