
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

          .logo {
            float: left;
          }
          /* ~~ Top Navigation Bar ~~ */

          #navigation-container {
            width: 1200px;
            margin: 0 auto;
            height: 90px;
          }

          .navigation-bar {
            background-color: #1e1e1e;
            height: 90px;
            width: 100%;
            text-align:left;
          }
          .navigation-bar img{
          float:left;
          max-width: 200px;
          margin: 15px;
          margin-left: 250px;
          }

          .navigation-bar ul {
            padding: 0px;
            margin: 12px;
            text-align: left;
            font-size: x-large;
            margin-left: 50px;
            display:inline-block;
            vertical-align:top;
          }

          .navigation-bar li {
            list-style-type: none;
            padding: 0px;
            height: 24px;
            margin-top: 4px;
            margin-bottom: 4px;
            display: inline;
          }

          .navigation-bar li a {
            color: rgb(250, 250, 250);
            font-size: 16px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            text-decoration: none;
            line-height: 70px;
            padding: 5px 15px;
            opacity: 0.95;
          }

          #menu {
            float: right;
          }

    * {
      box-sizing: border-box;
    }
    
    /* Create three unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
      height: auto; /* Should be removed. Only for demonstration */
    }
    
    .container {
      float: left;
      width: 50%;
    }

    .left {
      width: 30%;
    }
    
    .middle {
      width: 70%;
      border-left:1px solid #1e1e1e;
      padding-left: 20;
      padding-right: 5;
    }
    
    .right {
      width: 50%;
      background-color:rgb(250, 250, 241);
    }


    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .row {
      margin: 20;
      border-style: solid;
      border-width: 1px;
      border-color: #1e1e1e;
      padding: 5;
    
    }

    .grafikk {
      height: 800px;
      object-fit: cover;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
    }

    .header {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 175%;
      margin-bottom: 10;
      margin-top: 5;
    }

    .under-header {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 95%;
    }

    .circle {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      font-size: 40;
      color: #fff;
      text-align: center;
      background: #000;
      margin:auto;
      margin-top: 10;
      margin-bottom: 10;
    }

    .portrett {
      margin-left: 50%;
      transform: translateX(-50%);
      height: auto;
      width: 110%;
      border-radius: 50%;
    }

    .faktaboks {
      border-top: 2px solid #000;
      border-bottom: 1px solid #000;
      margin: auto;
      margin-top: 20px;
      width: 90%;
    }